/** Navbar CSS **/

*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    position: fixed;
    display: flow-root;
    font-size: 1.5em;
    font-family:'Segoe UI';
    box-shadow: 0px 5px 9px -2px rgba(148,148,148,1);
    background: white;
    min-height: 8vh;
    z-index: 10;
}

.navbar .nav_left{
    margin-left: 5%;
    display: flex;
    float: left;
    flex-wrap: nowrap;
}
.navbar .nav_left .nav_left_items{
    padding: 13px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.navbar .nav_left .nav_left_items:hover{
    background-color: rgb(237, 237, 237);
    color: #9b2963;
}


.navbar .nav_right{
    margin-right: 5%;
    display: flex;
    float: right;
    flex-wrap: nowrap;
}

.navbar .nav_right .nav_right_items{
    padding: 13px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.navbar .nav_right .nav_right_items:hover{
    background-color: rgb(237, 237, 237);
    color: #9b2963;
}

.navbar .nav_right .signup{
    padding: 10px;
    background: rgb(240, 29, 145);
    color: white;
}

/** Mobile Menu **/
.mobnavbar{
    position: fixed;
    width: 100%;
    display: none;
    margin: 0;
    background-color: #9b2963;
    z-index: 10;
}
.mobnavbtn{
    justify-content: end;
    align-items: end;
}

.mobnavbtn > i{
    margin: auto;
    color: rgb(84, 84, 84);
    background:white;
    padding: 10px;
    border-radius: 1px;
    border-bottom: 1px solid black;
}

.mobnav{
    height: 100vh;
    background-color: #ff9c38;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.mobnavitems{
    font-family: 'Segoe UI';
    font-size:2.5em;
    padding: 0.5em;
    height:10vh;
}

@media only screen and (max-width:650px){
    .mobnavbar{
        display: flow-root;
    }

    .navbar{
        display: none;
    }
}

/**Head mass **/

.headmass{
    display: flex;
    padding-top: 54px;
    padding: 5%;
    padding-top: 60px;
    font-family:'Segoe UI';
    min-height: 92vh;
}

.headmass .headmass-cont-left{
    color: #9b2963;
    margin-left:5%;
    
}

#headmassleft1{
    margin-left:-18%;
}

.headmass .headmass-cont-left .headmass-cont-left-items:nth-child(2){
    width: 100%;
    font-size: 1.5em;

}

.headtext{
    color:#9b2963;
    font-size:40px;
    display:block;
}
.browse-btn{
    margin-top: 5px;
    display: inline-block;
    background-color: rgb(180, 29, 112);
    color: white;
    padding: 10px;
    font-size: 15px;
}

.browse-btn:hover{
    transition: 0.2s ease-in;
    background-color: rgb(237, 237, 237);
    color:#9b2963;
    cursor: pointer;
}
.headmass .headmass-cont-right{
    width: 100%;
    margin-right: 5%;
    margin-top:19px;
}

@media only screen and (max-width:650px){
    .headmass{
     padding-top: 0;
        
    }
    .headmass-cont-left{
        flex-direction: column;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #headmassleft2{
        width: 100%;
    }
    .headmass-cont-left-items > img{
        width: 100%;
    }
    .headmass-cont-right{
        display: none;
    }
}

/** why pay css **/
.whypay{
    font-family: 'Segoe UI';
    color: white;
    padding: 5%;
    background: #9b2963;
    padding-bottom: none;
    min-height: 92vh;
}

.whypay .whypayhead{
    
    font-size:3rem;
    text-align: center;
}

.whypay .whypayflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.whypay .whypayflex .whypayimg{
    padding-top:2%;
    width: 30%;
}
.whypay .whypayflex .whypaypara{

    font-size: 1.5em;
    padding-top: 6%;
    width: 70%;
}

@media only screen and (max-width:650px){
    .whypay{
        padding: 0;
    }
    .whypay .whypayhead{
        font-size: 2em;
    }

    .whypay .whypayflex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

/** why pay css **/

/* Our courses */ 
.courses_wrapper{
    min-height: 92vh;
    background-color: #ff9c38;
}

.courses_wrapper > .courses_head{
    padding: 10px 0 10px 0;
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Segoe UI';
}

.courses_wrapper > .course{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Segoe UI';
}
.courses_wrapper > .course > .course1, .course2, .course3{
    height: 400px;
    width: 300px;
    transition: all 0.5s ease;
    background-color: white;
    border-radius: 25px;
    margin: 10px;

}

.courses_wrapper > .course > div:hover{
    box-shadow: 0px 0px 15px 2px #9b2963;
    z-index: 0;
    transform: scale(1.05);
}
.courses_wrapper > .course > div > .image{
    height: 150px;
}
.courses_wrapper > .course > div > .image > img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.courses_wrapper > .course > div > .name{
    background-color: #9b2963;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 70px;
}
.courses_wrapper > .course > div > .skills{
    height: 180px;
    display: flex;
    font-family: 'Segoe UI';
    color: white;
    
}

.courses_wrapper > .course > div > .skills > .skills_left{
    width: 70%;
    background-color: rgb(240, 29, 145);
    padding: 10px;
    border-bottom-left-radius: 25px;
    
}
.courses_wrapper > .course > div > .skills > .skills_left > .skills_items_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.courses_wrapper > .course > div > .skills > .skills_left > .skills_items_wrapper > .skills_items{
  background-color: rgb(206, 23, 124);
  padding: 5px;
  border-radius: 25px;
  margin: 2px;
} 
.courses_wrapper > .course > div > .skills > .skills_right{
    width: 30%; 
    border-bottom-right-radius: 25px;
    background-color: rgb(206, 23, 124);
}   
.courses_wrapper > .course > div > .skills > .skills_right:hover{
    animation: enroll 0.5s ease 1;
    background-color: rgb(3, 192, 3);
    cursor: pointer;
}

.courses_wrapper > .course > div > .skills > .skills_right > ul{
    list-style: none;
    text-align: center;
    line-height: 30px;

}

@keyframes enroll {
    from{
        height: 0%;   
        background-color: rgb(12, 65, 180);
    }
    to{
        height: 100%;
        background-color: rgb(3, 192, 3);
    }

}